@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");




*{
    font-family: Poppins;
}
.ad_mid-content{

    background:#D9D9D9;
    margin: 0px;
    padding: 0px;

}

.content-area{
    padding: 0px;
    margin:0px;
    
}

.mid-title{
    padding-left: 30px;
}
.mid-content{
    margin: 0px;
    
}
.content{
    
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

p{
    justify-content: center;
    padding: 20px;
}


.profile{
    width: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 50px;
}

.complaints{
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-top: 10px;

}

.view{
    padding: 10px;

}

.addtm{
    padding: 10px;
}

.delete{
    padding: 10px;
}

#btn{
    background: #186537;
    width: 100px;
    border-radius: 45px;
    border: 0px;
    padding: 5px 10px;
    color: #ffffff;
}

.content a{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #186537;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
}

.icons button{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #186537;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.comp-btns{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #186537;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

