@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

.page {
    display: flex;
    height: 100vh;
    overflow-y: hidden;

}
body{
    font-family: Poppins;
}

/** ----------------------------------------------------------------------------- */
/* Navigation panel css */

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 20px;
    background-color: #186537;
    position: relative;
    z-index: 20;
    transition: all 0.5s ease;
}

.nav-bar-small {
    display: flex;
    flex-direction: column;
    width: 60px;
    justify-content: center;
    padding: 5px;
    background-color: #186537;
    height: 100vh;
    position: relative;
    transition: all 0.5s ease;
}

.nav-upper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;

}

.nav-logo-short img {
    width: 40px;
}

.nav-logo-long img {
    width: 100px;
    padding: 5px;
}

.nav-middle {
    flex: 1;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
}

.nav-middle p {
    color: white;
    padding: 0 20px;
}

.nav-links {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link img {
    width: 30px;
}

.nav-link img.active {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 50%;
    
}

.nav-link div {
    padding: 0 15px;
    font-size: larger;
}

.nav-link:hover {
    background-color: #186537;
}

.nav-toggler {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: -15px;
    background-color: #52B947;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid rgba(42, 42, 42, 0.201);
    transition: all 0.5s;
}

.nav-toggler:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s;
}

.nav-toggler img {
    width: 17px;
    height: 17px;
}

.toggler-rotate {
    transform: rotateZ(180deg);
    transition: all 0.5s;
}

.hidden {
    display: none;
}

/** --------------------------------------------------------------------------------------- */
/* private | public switch */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #17ac06;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #52B947;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0f6805;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/** ------------------------------------------------------------------------------- */
/* Right side container */

.content-area {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f2fbf65a;
}

.top-bar {
    position: sticky;
    z-index: 14;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.752);
    backdrop-filter: blur(5px);
}



.search-bar {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    position: relative;
    z-index: 1;
}

.search-bar>input {
    padding: 8px 15px;
    font-size: medium;
    /* outline: none; */
    border-radius: 20px;
    background-color: #E5E9E7;
    border: none;
}

.search-bar>input::placeholder {
    color: rgba(82, 82, 82, 0.608);
}

.search-bar>input:focus {
    outline: none;
}

.search-bar>a {
    text-decoration: none;
    background-color: black;
}

.search-bar img {
    width: 20px;
    position: absolute;
    background-color: #E5E9E7;
    z-index: 1;
    top: 10px;
    right: 17px;
}

.back-btn {
    padding: 5px 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: #0A2917;
}

.top-bar-btns {
    display: flex;
    align-items: center;
}

.top-bar-btns>a {
    text-decoration: none;
    padding: 10px 15px;
}

.top-bar-btns>a>img {
    width: 25px;
}


/** ------------------------------------------------------------------------- */
/* mid content of content area */

.mid-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    /*margin: 50px 20px 10px;*/

}

.mid-title h1 {
    font-size: 40px;
    padding: 5px 0;
}

.mid-title h6 {
    font-size: medium;
    padding: 2px 2px;
}

.container-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grade-switcher {

    z-index: 10;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grade-switcher img {
    z-index: 10;
    width: 30px;
    background-color: #b1b1b163;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.grades {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.grade-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grade-card img {
    width: 100px;
    margin: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #0f6805;
}

.grade-card label {
    font-size: larger;
    font-weight: 600;
}

.front img {
    width: 150px;
}

.a{
    color: white;
    text-decoration: none;
}



.bckclose{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    margin: 20px;
    width: 10px;
    height: 10px;
}
