/*
    green color : 0ADF5F
    back color  : D9D9D9
    C5C5C5
*/

body {
    background-color: #DBDBDB;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-main {
    background-color: #eaeaea;
    padding: 10px;
    border: none;
    width: 400px;
    border-radius: 10px;
    /* margin: 100px auto; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.login-title {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title h1 {
    text-align: center;
    font-size: xx-large;
    letter-spacing: 10px;
    color: rgb(128, 128, 128);
    font-family: monospace;
}

.login-title hr {
    width: 75%;
}

.login-ctnt {
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
}

.login-inp-grp {
    display: flex;
    margin: 0 5px 10px;
    flex-direction: column;
    position: relative;
    font-size: large;
}

.login-inp-grp img {
    position: absolute;
    right: 10px;
    width: 15px;
}

.login-inp-grp label {
    margin-bottom: 5px;
}

.login-inp-grp input {
    padding: 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    transition: all 0.5s;
    font-size: 15px;
}

::placeholder {
    color: #bebebeaf;
}

.login-inp-grp input:focus {
    transition: all 0.5s;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.btn-login {
    padding: 10px 7px;
    margin: 15px 0 0 0;
    width: 100%;
    border-radius: 10px;
    border: none;
    align-items: center;
    background-color: #0ac956;
    color: white;
    font-size: large;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;

}

.btn-login:hover {
    background-color: #07af4a;
    color: white;
    transition: all 0.5s;
}

.login-fgt {
    text-align: center;
    margin: 5px 3px;
    font-size: medium;
    color: black;
}

/* Forgot password */

.forgot-ctnt {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
}

.forgot-inp-grp {
    display: flex;
    margin: 0 auto 25px;
    flex-direction: column;
    position: relative;
    font-size: large;
}

.otp-label {
    text-align: center;
    font-size: larger;
}

.otp-box {
    align-self: center;
    text-align: center;
    width: 6em;
    font-size: larger !important;
}

#otp-btn {
    width: 80%;
    align-self: center;
}

@media only screen and (max-width: 450px) {
    .login-main {
        padding: 1px 0;
        width: fit-content;
        border-radius: 7px;
    }

    .login-title {
        font-size: x-large;
        letter-spacing: 10px;
    }

    .login-ctnt {
        padding: 5px 30px;
    }

    .login-inp-grp {
        font-size: medium;
    }

    .login-inp-grp input {
        letter-spacing: 0;
        font-size: small;
    }


    .btn-login {
        padding: 7px;
        margin: 0;
        border-radius: 6px;
        font-size: medium;
    }

    .login-fgt {
        margin: 10px 3px;
        font-size: small;
    }
}

.invalid {
    border: 1px solid rgba(255, 0, 0, 0.534);
    transition: all 0.5s;
    color: red;
}

.error {
    letter-spacing: 0;
    font-size: large;
    border-radius: 4px;
    color: rgb(170, 0, 0);
    margin: 0 auto;
    padding: 10px 0;
    width: 75%;
    background: linear-gradient(rgba(255, 100, 100, 0.221), rgba(255, 0, 0, 0.21));
    text-align: center;
}

.success {
    letter-spacing: 0;
    font-size: large;
    border-radius: 4px;
    color: rgb(0, 170, 85);
    margin: 0 auto;
    padding: 10px 0;
    width: 75%;
    background: linear-gradient(rgba(100, 255, 113, 0.221), rgba(0, 255, 47, 0.21));
    text-align: center;
}

.hidden {
    display: none;
}

/* Register styles */
.register-main {
    background-color: #eaeaea;
    padding: 10px;
    border: none;
    width: 400px;
    border-radius: 10px;
    margin: 25px auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.invalid-inp {
    border: 3px solid rgba(255, 0, 0, 0.164) !important;
}

.valid-inp {
    border: 3px solid rgba(0, 255, 64, 0.164) !important;
}

.form-inp:focus {
    box-shadow: none;
}