@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* ----- resource header ----- */
.rc-resource-header {
    position: relative;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.rc-resource-button-icon-s{
    width: 15px;
    margin: 0 0 0 10px;
}
.rc-resource-button-icon-m{
    width: 30px;
}

.rc-resource-header h1 {
    font-size: xx-large;
    letter-spacing: 5px;
    color: rgb(85, 85, 85);
}

.rc-resource-header a {
    text-decoration: none;
}

.rc-add-btn {
    user-select: none;
    -moz-user-select: none;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    text-align: center;
    cursor: pointer;
    display: flex;
}

/* ?-- Resource Creator Small Popup Menu--- */
.popup-toggle{
    display: none !important;
}

.hidden-toggle{
    display: none !important;
}

.rc-popup-menu{
    position: absolute;
    right: 20px;
    bottom: -90px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.rc-popup-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
}

.rc-popup-item:nth-last-of-type(1){
    border-radius: 0 0 10px 10px;
}
.rc-popup-item:first-of-type{
    border-radius: 10px 10px 0 0;
}

.rc-popup-item:hover{
    background-color: rgba(217, 217, 217, 0.5);
}

.rc-popup-item>img{
    margin: 0 10px;
}

.rc-popup-item>div{
    color: green;
    margin-right: 10px;
}

/* ----- Card set for video list ------*/

.rc-video-card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(242, 242, 242, 0.114);
    border-radius: 10px;
}

.rc-video-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    margin: 10px;
    position: relative;
}

.rc-video-card img {
    margin-right: 5px;
    width: 200px;
}

.rc-video-card a {
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rc-video-card label {
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}

.rc-video-card label:nth-of-type(1) {
    font-size: large;
}

.rc-video-card label:nth-of-type(2) {
    font-size: medium;
}

/* ----- video card special buttons for RC ----- */
.rc-video-card-btns {
    position: absolute;
    display: flex;
    right: 25px;
    bottom: 40px;
}

.rc-video-card-btns img {
    cursor: pointer;
    width: 35px;
}

.rc-video-card-btns button {
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.919);
    cursor: pointer;
    margin: 5px;
    transition: all 0.5s;
}

.rc-video-card-btns button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


/* ----- quizzes style area ----- */


.rc-resource-table {
    margin-top: 20px;
    font-family: calibri;
    display: flex;
    flex-direction: column;
}

.rc-resource-row {
    display: flex;
    background-color: #ffffff44;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 8px;
    font-size: large;
    transition: all 0.5s;
}

.rc-resource-row:hover {
    transform: scale(1.02);
    transition: all 0.5s;
}

.rc-resource-row div:nth-of-type(1) {
    flex: 3;
}

.rc-resource-row div:nth-of-type(2) {
    flex: 3;
}

.rc-resource-row div:nth-of-type(3) {
    flex: 1;
}

.rc-table-title {
    display: flex;
    font-size: larger;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    /* background-color: #D6FAE4; */
}

.rc-table-title:hover {
    transform: scale(1);
}

.rc-quiz-row-btns {
    width: 100%;
    justify-content: space-around;
    display: flex;

}

.rc-quiz-row-btns button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.rc-quiz-row-btns a {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.rc-quiz-row-btns img {
    cursor: pointer;
    width: 20px;
}

/* ----- past papers style area ----- */

.rc-pp-row {
    display: flex;
    background-color: #ffffff44;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 8px;
    font-size: large;
    transition: all 0.5s;
}

.rc-pp-row:hover {
    transform: scale(1.02);
    transition: all 0.5s;
}
.rc-pp-title{
    box-shadow: none;
}
.rc-pp-title:hover {
    transform: scale(1);
}

.rc-pp-row div:nth-of-type(1) {
    flex: 2;
}

.rc-pp-row div:nth-of-type(2) {
    flex: 2;
}

.rc-pp-row div:nth-of-type(3) {
    flex: 2;
}

.rc-pp-row div:nth-of-type(4) {
    flex: 1;
}

/* ----- pdf documents style area ----- */

.rc-pdf-row {
    display: flex;
    background-color: #ffffff44;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 8px;
    font-size: large;
    transition: all 0.5s;
}

.rc-pdf-row:hover {
    transform: scale(1.02);
    transition: all 0.5s;
}

.rc-pdf-row div:nth-of-type(1) {
    flex: 5;
}

.rc-pdf-row div:nth-of-type(2) {
    flex: 1;
}

.rc-table-title:hover {
    transform: scale(1);
}

/* upload resources area */
.rc-upload-box {
    margin: 30px auto;
    padding: 20px 40px;
    background-color: rgba(166, 166, 166, 0.151);
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}


/* ----- organized resources style area ----- */

.rc-org-row {
    display: flex;
    background-color: #ffffff44;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 8px;
    font-size: large;
    transition: all 0.5s;
}

.rc-org-info-row{
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
}

.rc-org-topic-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rc-org-row img{
    width: 20px;
    margin-right: 10px;
}

.rc-org-row:hover {
    transform: scale(1.02);
    transition: all 0.5s;
}

.rc-org-title {
    box-shadow: none;
}

.rc-org-title:hover {
    transform: scale(1);
}

.rc-org-row div:nth-of-type(1) {
    flex: 2;
}

.rc-org-row div:nth-of-type(2) {
    flex: 2;
}

.rc-org-row div:nth-of-type(3) {
    flex: 2;
}

.rc-org-row div:nth-of-type(4) {
    flex: 1;
}

.rc-org-topic{
    flex: 1;
    font-size: larger;
    letter-spacing: 5px;
    color: rgb(85, 85, 85);
}

.rc-topic-line{
    margin: 2px 0 15px 0;
}

/* .rc-org-col{
} */


.rc-org-padding{
    margin: 15px 0;
}
.rc-org-row-btns {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    flex: 1;

}

.rc-org-row-btns button,a {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 0 5px;
}

.rc-org-row-btns img {
    cursor: pointer;
    width: 20px;
    /* width: 30px; */
}

.rc-org-row-btns .add-rsrc {
    cursor: pointer;
    width: 30px;
    margin: 0 5px;
}

/* .rc-upload-form {} */

.rc-upload-home-title {
    text-align: center;
    font-size: medium;
    font-weight: 600;
    margin: 15px 5px;
    color: rgba(77, 77, 77, 0.65);
}

.rc-form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
}

.rc-form-group [type="text"] {
    padding: 8px 10px;
    border: 1px solid rgba(128, 128, 128, 0.06);
    outline: none;
    font-size: medium;
    border-radius: 10px;
}

.rc-form-group  .text-input{
    padding: 8px 10px;
    border: 1px solid rgba(128, 128, 128, 0.06);
    outline: none;
    font-size: medium;
    border-radius: 10px;
}


.rc-form-group [type="file"] {
    font-size: small;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.progress-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /*padding:10px;*/
    align-items: center;
}

.progress-container>p{
    font-size: small;
    color: #0b9040;
    min-width: 30px;
    text-align: right;
}

.progress-container>progress{
    width: 80%;
    accent-color: rgba(11, 144, 64, 0.69);
}
.progress-container>img{
    width: 30px;
    cursor: pointer;
}


.rc-form-group>div {
    padding: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 123, 0, 0.142);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;

}

.rc-form-group .special-label{
    background-color: white;
    color: #424040;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    width: 300px;
}

.rc-form-group textarea {
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.345);
    outline: none;
    height: 100px;
    width: 200px;
}
.resource-upload-animated{
    position: absolute;
    opacity: 50%;
    z-index: -3;
    width: 60px;
}
.rc-video-descr {
    resize: none;
    width: 350px !important;
    height: 150px !important;
}
.rc-upload-button{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.rc-upload-button button {
    /*padding: 7px 15px;*/
    margin: auto;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: small;
    font-family: "Poppins", sans-serif;
}

.rc-button-vertical{
    display: flex;
    flex-direction: column;
}

.rc-button-vertical button{
    margin: 10px auto;
}

.pp-vertical-btn{
    padding: 8px 10px;
    margin: 10px 0 0;
    text-align: center;
    background-color: rgb(6, 115, 51);
    color: white;
    border: 2px solid rgba(215, 215, 215, 0);
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
    font-size: small;
    text-decoration: none;
}
.pp-vertical-btn:hover{
    color: green;
    background-color: rgba(11, 144, 64, 0.09);
    border: 2px solid #d7d7d7;
    transition: 0.5s all;
}


.rc-form-group label {
    margin: 5px;
}

.pp-quiz-chooser{
    width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(11, 144, 64, 0.69);
    font-size: 16px;
    background-color: white;
    transition: border-bottom-color 0.25s ease-in-out;
}

.pp-quiz-chooser>option{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    transition: background-color 0.25s ease-in-out;
}

.quiz-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.quiz-card-main{
    position: relative;
    padding: 15px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 180px;
    transition: 0.5s all;
    box-shadow: rgba(99, 99, 99, 0.19) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 20px;
}

.quiz-card-status{
    background:rgba(168,168,168,0.27);
    position: absolute;
    font-size:small;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.quiz-card-main:hover{
    transform: scale(1.05);
    box-shadow: rgba(99, 99, 99, 0.36) 0px 2px 8px 0px;
    transition: 0.5s all;
}
.quiz-card-title{
    text-align: center;
    font-size: x-large;
    padding-bottom:10px ;
}
.quiz-card-content{
    display: flex;
    flex-direction: column;
    color: #626161;
}
.quiz-card-button-set{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
}
.quiz-card-btn img{
    width: 20px;
}

.rc-no-data-msg{
    text-align: center !important;
    color: #7a7a7a;
    margin-top: 50px;
}

/* Tab pane*/
.resource-tab-main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.resource-tab-pane{
    display: flex;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 20px 20px 0 0;

    /*margin: auto;*/
}

.tp-tab{
    padding: 8px;
    margin: 0 1px;
    /*background: lightgray;*/
    color: #056d36;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

.tp-tab:first-of-type{
    border:  solid transparent;
    border-radius: 20px 5px 0 0 ;
}
.tp-tab:last-of-type{
    border:  solid transparent;
    border-radius: 5px 20px 0 0;
}
.resource-tab-pane .active{
    background: rgb(5, 109, 54);
    color: white;
    box-shadow: rgba(42, 42, 42, 0.4) 3px 3px 6px 0px inset, rgb(5, 109, 54) -3px -3px 6px 1px inset;
}

video.rc-uploaded-video{
    width: 600px;
    height: 300px;
}

.resource-approved-sign{
    width: 15px !important;
    /* margin-right: 15px !important; */
}

.rc-form-group-hz{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.rc-form-group-hz > .rc-form-group{
    margin: 5px;
    flex: 1;
}

.rc-form-group > .form-group-textarea{
    width: 100%;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.25;
    padding: 8px;
}

.rc-form-hr{
    border-color: rgba(187, 187, 187, 0.14);
}

.rc-form-group-hz > .checkbox-set{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 10px;
}

.checkbox-set input[type="checkbox"]{
    accent-color: #0b9040 !important;
}

.rc-form-group .normal-file-input{
    opacity: 100%;
    position: initial;
    color: #333;
    cursor: pointer;

}.rc-form-group .normal-file-input::-webkit-file-upload-button{
     background-color: #0b9040;
     color: #fff;
     padding: 8px;
     margin-left: 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

.rc-form-group small{
    text-align: center;
    color: gray;
    font-size: smaller;
}
/** media queries  */

@media screen and (max-width:720px) {
    .rc-video-card label:nth-of-type(1) {
        font-size: medium;
    }

    .rc-video-card label:nth-of-type(2) {
        font-size: small;
    }

    .rc-add-btn {
        padding: 8px;
        font-size: small;
    }

    video.rc-uploaded-video{
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width:480px) {
    .rc-video-card label:nth-of-type(1) {
        font-weight: 500;
        font-size: small;
    }

    .rc-video-card label:nth-of-type(2) {
        font-size: x-small;
    }

    .rc-add-btn {
        padding: 5px;
        font-size: small;
    }

    .rc-resource-header {
        padding: 5px 5px;
    }

    .rc-resource-header h1 {
        font-size: x-large;
        letter-spacing: 3px;
    }

    .rc-resource-header a {
        text-decoration: none;
    }

    /** ------ quiz table styles -------- */

    .rc-resource-table {
        margin-top: 15px;
    }

    .rc-resource-row {
        font-size: small;
    }

    .rc-resource-row div:nth-of-type(2) {
        flex: 2;
    }

    .rc-table-title {
        font-size: medium;
    }

    .rc-quiz-row-btns img {
        width: 15px;
    }

    /** ------ upload box-------- */

    .rc-upload-box {
        margin: 30px auto;
        padding: 10px 20px;
    }

    .rc-upload-home-title {
        font-size: medium;
        margin: 10px 5px;
    }

    .rc-form-group {
        margin: 10px 5px;
    }

    .rc-form-group [type="text"] {
        padding: 5px 10px;
        border: 1px solid rgba(128, 128, 128, 0.345);
        outline: none;
    }

    .rc-form-group [type="email"] {
        padding: 5px 10px;
        border: 1px solid rgba(128, 128, 128, 0.345);
        outline: none;
    }

    .rc-form-group [type="file"] {
        font-size: small;
    }

    .rc-form-group>div {
        padding: 30px;
        text-align: center;
        font-size: medium;
    }

    .rc-upload-button {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .rc-upload-button button {
        padding: 7px 25px;
        margin: 10px auto;
        margin: auto;
        margin: 20px;

    }

    .rc-form-group label {
        margin: 5px;
    }
    video.rc-uploaded-video{
        width: 250px;
        height: 125px;
    }
}