<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher - Billing</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="card_set.css">
</head>

<body>
    <section class="page">
        <!-- Navigation panel -->
        <nav class="nav-bar" id="nav-bar">

            <!-- Navigation bar logos -->
            <div class="nav-upper">
                <div class="nav-logo-short">
                    <img src="assets/logo2.png" alt="logo" />
                </div>
                <div class="nav-logo-long" id="nav-logo-long">
                    <img src="assets/logo1.png" alt="logo" />
                </div>
            </div>


           <!-- Navigation bar private - public switch -->
           <div class="nav-middle" id="nav-middle">
            <p>Public</p>
            <div class="nav-switch">
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            <p class="nav-switch-txt">Private</p>
        </div>


<!-- Navigation buttons -->
<div class="nav-links">
    <a href="#" class="nav-link">
        <img class="active" src="assets/icons/icon_class.png" alt="home">
        <div class="nav-link-text">Classes</div>
    </a>
    <a href="#" class="nav-link">
        <img src="assets/icons/icon_premium.png" alt="cource">
        <div class="nav-link-text">Buy Premium</div>
    </a>
    <a href="#" class="nav-link">
        <img src="assets/icons/icon_report.png" alt="profile">
        <div class="nav-link-text">Report Issue</div>
    </a>
    <a href="#" class="nav-link">
        <img src="assets/icons/icon_billing.png" alt="report">
        <div class="nav-link-text">Billing</div>
    </a>
    <a href="#" class="nav-link">
        <img src="assets/icons/icon_bmc.png" alt="bmc">
        <div class="nav-link-text">Buy me a coffee</div>
    </a>
</div>

            <!-- Navigation bar toggler -->
            <div class="nav-toggler" id="nav-toggler">
                <img src="assets/icons/toggler.png" alt="toggler">
            </div>
        </nav>

        <div class="content-area">

            <!-- Top bar -->
            <section class="top-bar">
                
                <div class="top-bar-btns">
                    <a href="#">
                        <div class="back-btn">Back</div>
                    </a>
                    <a href="#">
                        <img src="assets/icons/icon_notify.png" alt="notify">
                    </a>
                    <a href="#">
                        <img src="assets/icons/icon_profile_black.png" alt="profile">
                    </a>
                </div>
            </section>

            <!-- Middle part for whole content -->
            <section class="mid-content">

                 <!-- Title and sub title of middle part -->
                <div class="mid-title">
                    <h1>Billing</h1>
                    <h6>Teacher Home/ Members details/change host</h6>
                    <br><br><br>
                    <h3>Available Balance in your wallet</h3>
                    <br><br>
                    
                </div>

                <div style="display: flex;justify-content: center;font-size:30px">
                    <h1>Rs.*******</h1>
                  </div>
                  


                <br><br>

                
                      
                <div style="display: flex; justify-content:space-around; align-items: center;">
                    <button style="background-color: green; border:green; color: white; border-radius: 30px; padding: 10px 65px;">See transaction history</button>
                    <button style="background-color: green; border:green; color: white; border-radius: 30px; padding: 10px 65px;">Withdraw money</button>
                  </div>
                  

                      
                          
                          
                 
                 

            </section>

            <!-- bottom part -->
            <section class="Teacher-class-bottom">
                <div class="Teacher-decorator">
                    <img src="assets/clips/billing.png" alt="lap man">
                </div>
            </section>


            
        </div>  
    </section>      
</body>
<script>
    let toggle = true;

    const getElement = (id) => document.getElementById(id);

    let togglerBtn = getElement("nav-toggler");
    let nav = getElement("nav-bar");
    let logoLong = getElement("nav-logo-long");
    let navMiddle = getElement("nav-middle");
    let navLinkTexts = document.getElementsByClassName("nav-link-text");

    togglerBtn.addEventListener('click', () => {
        nav.classList.toggle("nav-bar-small");

        if (toggle) {
            logoLong.classList.add("hidden");
            navMiddle.classList.add("hidden");
            togglerBtn.classList.add("toggler-rotate");
            for (i = 0; i < navLinkTexts.length; i++) {
                navLinkTexts[i].classList.add("hidden");
            }
            toggle = false;
        }

        else {
            logoLong.classList.remove("hidden");
            navMiddle.classList.remove("hidden");
            togglerBtn.classList.remove("toggler-rotate");
            for (i = 0; i < navLinkTexts.length; i++) {
                navLinkTexts[i].classList.remove("hidden");
            }
            toggle = true;
        }
    })



</script>

</html>